region1    = "us-central1"
region2    = "us-east1"
zone1      = "us-east1-a"
zone2      = "us-central1-a"

compute_instance_image        = "debian-cloud/debian-11"
compute_instance_machine_type = "e2-medium"